## I have been tasked with solving crucial business problems for Investgenics. In this module, I will be using my Pandas knowledge to analyze data and help the firm answer important questions. Specifically, I will be helping investors decide which of the three investment options - gold, oil, or stocks - is the most stable. To achieve this goal, I will be looking at data on the volume of stocks sold and identifying which stocks were sold with the highest and lowest volumes. This will help investors make informed decisions about where to invest their money for maximum returns with minimum risk.

In [1]:
# Import the libarary
import pandas as pd

# Import the CSV files
oil = pd.read_csv('oil_price.csv')
gold = pd.read_csv('gold_stocks_price.csv')

# View the oil DataFrame
print(oil.shape)
print(oil.dtypes)
print(oil.head())
print(oil.tail())

(1844, 6)
Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object
         Date   Price    Open    High     Low     Vol.
0  2011-12-01  100.20  100.51  101.17   98.87  275.86K
1  2011-12-02  100.96  100.00  101.56   99.76  245.92K
2  2011-12-05  100.99  101.23  102.44  100.24  239.38K
3  2011-12-06  101.28  100.45  101.42  100.20  217.03K
4  2011-12-07  100.49  101.11  101.94   99.67  330.53K
            Date  Price   Open   High    Low     Vol.
1839  2018-12-25  43.16  43.00  43.25  42.88        -
1840  2018-12-26  46.22  42.85  47.00  42.52  698.41K
1841  2018-12-27  44.61  46.58  46.70  44.37  665.59K
1842  2018-12-28  45.33  45.44  46.22  44.42  564.39K
1843  2018-12-31  45.41  45.22  46.53  44.73  476.97K

In [2]:
# View the gold DataFrame
print(gold.shape)
print(gold.dtypes)
print(gold.head())
print(gold.tail())

(1718, 81)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object
         Date        Open        High         Low       Close   Adj Close  \
0  2011-12-15  154.740005  154.949997  151.710007  152.330002  152.330002
1  2011-12-16  154.309998  155.369995  153.899994  155.229996  155.229996
2  2011-12-19  155.479996  155.860001  154.360001  154.869995  154.869995
3  2011-12-20  156.820007  157.429993  156.580002  156.979996  156.979996
4  2011-12-21  156.979996  157.529999  156.130005  157.160004  157.160004

     Volume     SP_open     SP_high      SP_low  ...    GDX_Low  GDX_Close  \
0  21521900  123.029999  123.199997  121.989998  ...  51.570000  51.680000
1  18124300  122.230003  122.949997  121.300003  ...  52.040001  52.680000
2  12547200  122.059998  122.320000  120.029999  ...  51.029999  51.169998
3   9136300  122.180000  124.139999  120.370003  ...  52.369999  52.990002
4  11996100  123.930000  124.360001  122.750000  ...  52.419998  52.959999

   GDX_Adj Close  GDX_Volume   USO_Open   USO_High    USO_Low  USO_Close  \
0      48.973877    20605600  36.900002  36.939999  36.049999  36.130001
1      49.921513    16285400  36.180000  36.500000  35.730000  36.270000
2      48.490578    15120200  36.389999  36.450001  35.930000  36.200001
3      50.215282    11644900  37.299999  37.610001  37.220001  37.560001
4      50.186852     8724300  37.669998  38.240002  37.520000  38.110001

   USO_Adj Close  USO_Volume
0      36.130001    12616700
1      36.270000    12578800
2      36.200001     7418200
3      37.560001    10041600
4      38.110001    10728000

[5 rows x 81 columns]
            Date        Open        High         Low       Close   Adj Close  \
1713  2018-12-24  119.570000  120.139999  119.570000  120.019997  120.019997
1714  2018-12-26  120.620003  121.000000  119.570000  119.660004  119.660004
1715  2018-12-27  120.570000  120.900002  120.139999  120.570000  120.570000
1716  2018-12-28  120.800003  121.080002  120.720001  121.059998  121.059998
1717  2018-12-31  120.980003  121.260002  120.830002  121.250000  121.250000

        Volume     SP_open     SP_high      SP_low  ...    GDX_Low  GDX_Close  \
1713   9736400  239.039993  240.839996  234.270004  ...  20.650000  21.090000
1714  14293500  235.970001  246.179993  233.759995  ...  20.530001  20.620001
1715  11874400  242.570007  248.289993  238.960007  ...  20.700001  20.969999
1716   6864700  249.580002  251.399994  246.449997  ...  20.570000  20.600000
1717   8449400  249.559998  250.190002  247.470001  ...  20.559999  21.090000

      GDX_Adj Close  GDX_Volume  USO_Open  USO_High  USO_Low  USO_Close  \
1713      21.090000    60507000      9.49      9.52     9.28       9.29
1714      20.620001    76365200      9.25      9.92     9.23       9.90
1715      20.969999    52393000      9.59      9.65     9.37       9.62
1716      20.600000    49835000      9.54      9.65     9.38       9.53
1717      21.090000    53866600      9.63      9.71     9.44       9.66

      USO_Adj Close  USO_Volume
1713           9.29    21598200
1714           9.90    40978800
1715           9.62    36578700
1716           9.53    22803400
1717           9.66    28417400

[5 rows x 81 columns]

#

### 2. Create a subset DataFrame based on gold_stocks_price.csv

In [3]:
# Subset the gold DataFrame
gold_subset = gold[['Date', 'Open', 'High', 'Low']]

# Slice the gold_subset to 500 rows
gold_subset = gold_subset.iloc[:500]

# View the gold_subset
print(gold_subset.shape)
print(gold.dtypes)

(500, 4)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object

In [4]:
# Determine the missing values
gold_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [5]:
# Min and max value for column\ for subsetted gold DataFrame 
print(gold_subset['Open'].min())
print(gold_subset['Open'].max())

117.580002
173.199997

In [6]:
print(gold_subset['High'].min())
print(gold_subset['High'].max())

118.18
174.070007

In [7]:
print(gold_subset['Low'].min())
print(gold_subset['Low'].max())

116.739998
172.919998

### Alternate way using print statement :

In [8]:
print(f"The maximum value for open is the subsetted gold dataframe is {gold_subset['Open'].max()}")
print(f"The minimum value for open is the subsetted gold dataframe is {gold_subset['Open'].min()}")

print(f"The maximum value for high is the subsetted gold dataframe is {gold_subset['High'].max()}")
print(f"The minimum value for high is the subsetted gold dataframe is {gold_subset['High'].min()}")

print(f"The maximum value for low is the subsetted gold dataframe is {gold_subset['Low'].max()}")
print(f"The minimum value for low is the subsetted gold dataframe is {gold_subset['Low'].min()}")

The maximum value for open is the subsetted gold dataframe is 173.199997
The minimum value for open is the subsetted gold dataframe is 117.580002
The maximum value for high is the subsetted gold dataframe is 174.070007
The minimum value for high is the subsetted gold dataframe is 118.18
The maximum value for low is the subsetted gold dataframe is 172.919998
The minimum value for low is the subsetted gold dataframe is 116.739998

#

### 3. Create a subset DataFrame based on oil_price.csv

In [9]:
# Subset the gold DataFrame
oil_subset = oil[['Date', 'Open', 'High', 'Low']]

# Slice the gold_subset to 500 rows
oil_subset = oil_subset.iloc[:500]

# View the gold_subset
print(oil_subset.shape)
print(oil.dtypes)

(500, 4)
Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object

In [10]:
# Determine the missing values
oil_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [11]:
# Min and max value for column\ for subsetted gold DataFrame: 
print(oil_subset['Open'].min())
print(oil_subset['Open'].max())

78.11
110.28

In [12]:
print(oil_subset['High'].min())
print(oil_subset['High'].max())

79.68
112.24

In [13]:
print(oil_subset['Low'].min())
print(oil_subset['Low'].max())

77.28
109.11

### Alternate way of using the print statement :

In [14]:
print(f"The maximum value for open is the subsetted oil dataframe is {oil_subset['Open'].max()}")
print(f"The minimum value for open is the subsetted oil dataframe is {oil_subset['Open'].min()}")

print(f"The maximum value for high is the subsetted oil dataframe is {oil_subset['High'].max()}")
print(f"The minimum value for high is the subsetted oil dataframe is {oil_subset['High'].min()}")

print(f"The maximum value for low is the subsetted oil dataframe is {oil_subset['Low'].max()}")
print(f"The minimum value for low is the subsetted oil dataframe is {oil_subset['Low'].min()}")

The maximum value for open is the subsetted oil dataframe is 110.28
The minimum value for open is the subsetted oil dataframe is 78.11
The maximum value for high is the subsetted oil dataframe is 112.24
The minimum value for high is the subsetted oil dataframe is 79.68
The maximum value for low is the subsetted oil dataframe is 109.11
The minimum value for low is the subsetted oil dataframe is 77.28

#

### 4. Statistical analysis

In [15]:
# use the describe() function
print(gold_subset.describe())
print(oil_subset.describe())

             Open        High         Low
count  500.000000  500.000000  500.000000
mean   149.033480  149.774340  148.266740
std     16.923214   16.919180   16.871447
min    117.580002  118.180000  116.739998
25%    132.134998  133.144997  131.192501
50%    155.070000  155.610001  154.360001
75%    161.862500  162.577500  161.149994
max    173.199997  174.070007  172.919998
             Open        High         Low
count  500.000000  500.000000  500.000000
mean    96.196620   97.153780   95.084320
std      6.991871    6.945661    7.003769
min     78.110000   79.680000   77.280000
25%     91.707500   92.627500   90.645000
50%     95.790000   96.640000   94.820000
75%    102.002500  102.962500  100.847500
max    110.280000  112.240000  109.110000

## In the previous challenge, I solved specific business problems related to the data sets, helping investors to decide on the most stable entity to invest in. However, for this module, I will apply my Seaborn and Matplotlib knowledge to understand my data better and solve some specific problems for Investgenics. I’ll answer the following business questions:

## - What is the distribution of the data?
## - Which performed the best in December 2015? Gold or oil?
## - Are there any outliers in the opening value of both gold and oil?
## - What happened to gold and oil on the stock market during June 2016?

### Determine the daily average price of gold and oil.

In [16]:
# View gold_subset.
print(gold_subset.head())

# Determine the average of gold per day.
# Write a user-defined function.
def avg_col3(x, y, z):
    a = (x + y + z)/3
    return a

# Insert avg into a new column.
gold_subset['average_gold'] = avg_col3(gold_subset['Open'], gold_subset['High'], gold_subset['Low'])

# View the DataFrame.
gold_subset

         Date        Open        High         Low
0  2011-12-15  154.740005  154.949997  151.710007
1  2011-12-16  154.309998  155.369995  153.899994
2  2011-12-19  155.479996  155.860001  154.360001
3  2011-12-20  156.820007  157.429993  156.580002
4  2011-12-21  156.979996  157.529999  156.130005

           Date        Open        High         Low  average_gold
0    2011-12-15  154.740005  154.949997  151.710007    153.800003
1    2011-12-16  154.309998  155.369995  153.899994    154.526662
2    2011-12-19  155.479996  155.860001  154.360001    155.233333
3    2011-12-20  156.820007  157.429993  156.580002    156.943334
4    2011-12-21  156.979996  157.529999  156.130005    156.880000
..          ...         ...         ...         ...           ...
495  2014-01-27  121.650002  122.059998  120.720001    121.476667
496  2014-01-28  121.320000  121.400002  120.410004    121.043335
497  2014-01-29  122.190002  122.510002  121.129997    121.943334
498  2014-01-30  119.669998  120.220001  119.599998    119.829999
499  2014-02-03  120.470001  122.110001  120.320000    120.966667

[500 rows x 5 columns]

In [17]:
# View the oil_subset.
print(gold_subset.head())

# Calculate the average of oil prices per day.
# Write a user-defined function.
def avg_col3(x, y, z):
    a = (x + y + z)/3
    return a

oil_subset['average_oil'] = avg_col3(oil_subset['Open'], oil_subset['High'], oil_subset['Low'])

# View the DataFrame.
oil_subset

         Date        Open        High         Low  average_gold
0  2011-12-15  154.740005  154.949997  151.710007    153.800003
1  2011-12-16  154.309998  155.369995  153.899994    154.526662
2  2011-12-19  155.479996  155.860001  154.360001    155.233333
3  2011-12-20  156.820007  157.429993  156.580002    156.943334
4  2011-12-21  156.979996  157.529999  156.130005    156.880000

           Date    Open    High     Low  average_oil
0    2011-12-01  100.51  101.17   98.87   100.183333
1    2011-12-02  100.00  101.56   99.76   100.440000
2    2011-12-05  101.23  102.44  100.24   101.303333
3    2011-12-06  100.45  101.42  100.20   100.690000
4    2011-12-07  101.11  101.94   99.67   100.906667
..          ...     ...     ...     ...          ...
495  2013-11-13   93.07   94.54   92.93    93.513333
496  2013-11-14   93.50   94.43   92.51    93.480000
497  2013-11-15   93.89   94.55   93.58    94.006667
498  2013-11-18   93.78   94.30   92.72    93.600000
499  2013-11-19   93.00   93.46   92.43    92.963333

[500 rows x 5 columns]

### Convert the daily average price of gold and oil from US dollars to British Pound¶

In [18]:
# Employ lambda function to convert US dollars to British pounds.
# Where 1 US$ = 0.8 GBP.
gold_subset['avg_gold_GBP'] = gold_subset['average_gold'].apply(lambda x: x*0.8)

# View the DataFrame.
gold_subset

,Date,Open,High,Low,average_gold,avg_gold_GBP
0,2011-12-15,154.740005,154.949997,151.710007,153.800003,123.040002
1,2011-12-16,154.309998,155.369995,153.899994,154.526662,123.621330
2,2011-12-19,155.479996,155.860001,154.360001,155.233333,124.186666
3,2011-12-20,156.820007,157.429993,156.580002,156.943334,125.554667
4,2011-12-21,156.979996,157.529999,156.130005,156.880000,125.504000
...,...,...,...,...,...,...
495,2014-01-27,121.650002,122.059998,120.720001,121.476667,97.181334
496,2014-01-28,121.320000,121.400002,120.410004,121.043335,96.834668
497,2014-01-29,122.190002,122.510002,121.129997,121.943334,97.554667
498,2014-01-30,119.669998,120.220001,119.599998,119.829999,95.863999
499,2014-02-03,120.470001,122.110001,120.320000,120.966667,96.773334

In [19]:
# Employ lambda function to convert US dollars to British pounds.
# Where 1 US$ = 0.8 GBP.
oil_subset['avg_oil_GBP'] = oil_subset['average_oil'].apply(lambda x: x*0.8)

# View the DataFrame.
oil_subset

           Date    Open    High     Low  average_oil  avg_oil_GBP
0    2011-12-01  100.51  101.17   98.87   100.183333    80.146667
1    2011-12-02  100.00  101.56   99.76   100.440000    80.352000
2    2011-12-05  101.23  102.44  100.24   101.303333    81.042667
3    2011-12-06  100.45  101.42  100.20   100.690000    80.552000
4    2011-12-07  101.11  101.94   99.67   100.906667    80.725333
..          ...     ...     ...     ...          ...          ...
495  2013-11-13   93.07   94.54   92.93    93.513333    74.810667
496  2013-11-14   93.50   94.43   92.51    93.480000    74.784000
497  2013-11-15   93.89   94.55   93.58    94.006667    75.205333
498  2013-11-18   93.78   94.30   92.72    93.600000    74.880000
499  2013-11-19   93.00   93.46   92.43    92.963333    74.370667

[500 rows x 6 columns]

### Compare the average gold and oil price in GBP

In [20]:
# Use the merge function and Date as ID.
gold = gold_subset[['Date', 'avg_gold_GBP']]

gold

           Date  avg_gold_GBP
0    2011-12-15    123.040002
1    2011-12-16    123.621330
2    2011-12-19    124.186666
3    2011-12-20    125.554667
4    2011-12-21    125.504000
..          ...           ...
495  2014-01-27     97.181334
496  2014-01-28     96.834668
497  2014-01-29     97.554667
498  2014-01-30     95.863999
499  2014-02-03     96.773334

[500 rows x 2 columns]

In [21]:
# Use the merge function and Date as ID.
oil = oil_subset[['Date', 'avg_oil_GBP']]

oil

           Date  avg_oil_GBP
0    2011-12-01    80.146667
1    2011-12-02    80.352000
2    2011-12-05    81.042667
3    2011-12-06    80.552000
4    2011-12-07    80.725333
..          ...          ...
495  2013-11-13    74.810667
496  2013-11-14    74.784000
497  2013-11-15    75.205333
498  2013-11-18    74.880000
499  2013-11-19    74.370667

[500 rows x 2 columns]

In [22]:
# Merge the two DataFrames.
gold_oil = pd.merge(gold, oil, on='Date', how='left')

gold_oil

           Date  avg_gold_GBP  avg_oil_GBP
0    2011-12-15    123.040002    75.784000
1    2011-12-16    123.621330    74.861333
2    2011-12-19    124.186666    74.858667
3    2011-12-20    125.554667    76.194667
4    2011-12-21    125.504000    78.288000
..          ...           ...          ...
495  2014-01-27     97.181334          NaN
496  2014-01-28     96.834668          NaN
497  2014-01-29     97.554667          NaN
498  2014-01-30     95.863999          NaN
499  2014-02-03     96.773334          NaN

[500 rows x 3 columns]

In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
# Create subsets containing all rows
gold_plot = gold
oil_plot = oil

# Determine data types of the two DataFrames
print(gold_plot.dtypes)
print(oil_plot.dtypes)

# Change data type of Date column from object to datetime in both DataFrames
gold_plot['Date'] = pd.to_datetime(gold_plot['Date'])
oil_plot['Date'] = pd.to_datetime(oil_plot['Date'])

Date             datetime64[ns]
Open                    float64
High                    float64
Low                     float64
Close                   float64
                      ...
USO_High                float64
USO_Low                 float64
USO_Close               float64
USO_Adj Close           float64
USO_Volume                int64
Length: 81, dtype: object
Date     datetime64[ns]
Price           float64
Open            float64
High            float64
Low             float64
Vol.             object
dtype: object

In [56]:
# determine data types
print(gold_plot.dtypes)
print(oil_plot.dtypes)

# convert date column to datetime
gold_plot['Date'] = pd.to_datetime(gold_plot['Date'])
oil_plot['Date'] = pd.to_datetime(oil_plot['Date'])

Date             datetime64[ns]
Open                    float64
High                    float64
Low                     float64
Close                   float64
                      ...
USO_High                float64
USO_Low                 float64
USO_Close               float64
USO_Adj Close           float64
USO_Volume                int64
Length: 81, dtype: object
Date     datetime64[ns]
Price           float64
Open            float64
High            float64
Low             float64
Vol.             object
dtype: object

In [57]:
# outlier analysis for gold
gold_open_q1 = gold_plot['Open'].quantile(0.25)
gold_open_q3 = gold_plot['Open'].quantile(0.75)
gold_open_iqr = gold_open_q3 - gold_open_q1
gold_open_upper = gold_open_q3 + 1.5 * gold_open_iqr
gold_open_lower = gold_open_q1 - 1.5 * gold_open_iqr

gold_outliers = gold_plot[(gold_plot['Open'] > gold_open_upper) | (gold_plot['Open'] < gold_open_lower)]
print('Gold Outliers:')
print(gold_outliers)

Gold Outliers:
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SP_open, SP_high, SP_low, SP_close, SP_Ajclose, SP_volume, DJ_open, DJ_high, DJ_low, DJ_close, DJ_Ajclose, DJ_volume, EG_open, EG_high, EG_low, EG_close, EG_Ajclose, EG_volume, EU_Price, EU_open, EU_high, EU_low, EU_Trend, OF_Price, OF_Open, OF_High, OF_Low, OF_Volume, OF_Trend, OS_Price, OS_Open, OS_High, OS_Low, OS_Trend, SF_Price, SF_Open, SF_High, SF_Low, SF_Volume, SF_Trend, USB_Price, USB_Open, USB_High, USB_Low, USB_Trend, PLT_Price, PLT_Open, PLT_High, PLT_Low, PLT_Trend, PLD_Price, PLD_Open, PLD_High, PLD_Low, PLD_Trend, RHO_PRICE, USDI_Price, USDI_Open, USDI_High, USDI_Low, USDI_Volume, USDI_Trend, GDX_Open, GDX_High, GDX_Low, GDX_Close, GDX_Adj Close, GDX_Volume, USO_Open, USO_High, USO_Low, USO_Close, USO_Adj Close, USO_Volume]
Index: []

[0 rows x 81 columns]

In [58]:
# outlier analysis for oil
oil_open_q1 = oil_plot['Open'].quantile(0.25)
oil_open_q3 = oil_plot['Open'].quantile(0.75)
oil_open_iqr = oil_open_q3 - oil_open_q1
oil_open_upper = oil_open_q3 + 1.5 * oil_open_iqr
oil_open_lower = oil_open_q1 - 1.5 * oil_open_iqr

oil_outliers = oil_plot[(oil_plot['Open'] > oil_open_upper) | (oil_plot['Open'] < oil_open_lower)]
print('Oil Outliers:')
print(oil_outliers)

Oil Outliers:
Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol.]
Index: []

In [ ]:
# create pairplot with KDE for gold
sns.pairplot(gold_plot, height=2, kind='kde')
plt.show()

In [ ]:
# create pairplot with KDE for oil
sns.pairplot(oil_plot, height=2, kind='kde')
plt.show()

In [ ]:
# filter data to only display December 2015
gold_dec15 = gold_plot[gold_plot['Date'].dt.month == 12]
oil_dec15 = oil_plot[oil_plot['Date'].dt.month == 12]

# calculate returns for December 2015
gold_return = (gold_dec15['Close'].iloc[-1] - gold_dec15['Open'].iloc[0]) / gold_dec15['Open'].iloc[0]
oil_return = (oil_dec15['Close'].iloc[-1] - oil_dec15['Open'].iloc[0]) / oil_dec15['Open'].iloc[0]

# print returns
print('Gold return in December 2015:', gold_return)
print('Oil return in December 2015:', oil_return)

# create barplots to compare oil and gold for December 2015
fig, ax = plt.subplots(figsize=(20, 6))
sns.barplot(x='Date', y='Open', data=gold_dec15, ax=ax)
ax.set_title('Gold prices in December 2015')
plt.show()

fig, ax = plt.subplots(figsize=(20,

In [ ]:
# create pairplot with KDE for gold
sns.pairplot(gold_plot, height=2, kind='kde')
plt.show()

# create pairplot with KDE for oil
sns.pairplot(oil_plot, height=2, kind='kde')
plt.show()